<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true"
		  internalLogLevel="Info">

		<variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>

		<!-- enable asp.net core layout renderers -->
		<extensions>
			<add assembly="NLog.Web.AspNetCore"/>
		</extensions>

		<!-- the targets to write to -->
		<targets>
			<!-- write logs to file  -->
			<target xsi:type="File"
					name="allfile"
					fileName="${LogDirectory}/Log_${shortdate}.txt"
					layout="${longdate} ${uppercase:${level}} ${message}" />
		</targets>

		<!-- rules to map from logger name to target -->
		<rules>
			<!--All logs, including from Microsoft-->
			<!-- 
			Trace	0	Most verbose level. Used for development and seldom enabled in production.	
			Debug	1	Debugging the application behavior from internal events of interest.	
			Info	2	Information that highlights progress or application lifetime events.	
			Warn	3	Warnings about validation issues or temporary failures that can be recovered.	
			Error	4	Errors where functionality has failed or Exception have been caught.	
			Fatal	5	Most critical level. Application is about to abort.	
			Off		6	Artificial level for disabling logger output
			-->
			<logger name="*" minlevel="Info" writeTo="allfile" />

			<!--Skip non-critical Microsoft logs and so log only own logs-->
			<logger name="Microsoft.*" maxlevel="Info" final="true" />
			<!-- BlackHole without writeTo -->
			<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
		</rules>
	</nlog>

</configuration>